@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lets Meet - Our Team";

    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="~/img/logo.png" />
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12 align-center justify-center">
            <h4>Who we are</h4>
            <p><h1>Empowering the world<br /> to develop technology through collective knowledge.</h1></p>
            <p><small>Our public platform serves 100 million people every month, making it one of the most popular websites in the world.</small></p>
            <p>Our <strong>asynchronous knowledge management</strong> and collaboration offering, Stack Overflow for Teams, is transforming how people work.</p>
            
        </div>

    </div>
</div>
