@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "User Page";

    Layout = "../Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Title</li>
            </ol>

            <div class="toast show col-12" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    
                    <small> Asked 11 mins ago</small>
                    <strong class="me-auto"></strong>
                    <small> Modified 11 mins ago</small>
                   
                   
                </div>
                <div class="toast-body">
                    26k veiws
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-1 p-1 ">
                <h1> <i class="fa-solid fa-thumbs-up"></i></h1>

                <h3>70</h3>

                <h1> <i class="fa-solid fa-thumbs-down"></i></h1>

            </div>
            <div class="col-11 bg-secondary ">
                <p style=" border: solid 2px white;min-height:135px; border-radius:15px; padding:7px;">
                    hcgkjlfclkfclknkfckxjfcdknckjdhxcil dkxcn kdxclkdjhxlck ndkcj kdxjckl djxck. jdxkcdkxjclk dxkcdkx
                    cxnnb ,jdbxkjmkxn mndxkdxnkkdxnkcn dxmnkdxnkndx dxcnkdn dxcnkk dxhnk dxkhkxjckjdbxcjbxcj
                </p>

            </div>

            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4">Coment</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="true"></textarea>
                    </div>

                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>

        </div>


    </div>

</div>
