@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Title = "Registration Page";

    Layout = "../Shared/_Layout.cshtml";
}


<div class="container">
    <form>
        <fieldset>
            <legend>New User</legend>


            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="exampleInputusername" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="exampleInputusername" placeholder="Username">
            </div>

            <div class="form-group">

                <label for="formFile" class="form-label mt-4">Select Profile Picture</label>
                <input class="form-control" type="file" id="formFile">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Select Your Stack</label>
                <select class="form-select" id="exampleSelect1">
                    <option>Javascript</option>
                    <option>Java</option>
                    <option>C++</option>
                    <option>C#</option>
                    <option>Pytho</option>
                </select>
            </div>






            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
            

        </fieldset>

    </form>

</div>

